# Ignore heavy ESP-IDF background compilation folders
**/build/
**/sdkconfig
**/.managed_components/
**/dependencies.lock
**/.vscode/

# Ignore Python environment and cache folders
__pycache__/
*.pyc
.env/
venv/

# Optional: Ignore massive raw data spreadsheets if they get too huge
# *.csv